@import "tailwindcss";

:root {
  font-family: "Pixelify Sans";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-image: url("./assets/untitled2.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  @apply rounded-md px-4 py-2 font-semibold cursor-pointer transition-all;

  border: 1px solid transparent;
  font-family: inherit;
  background-color: #0000001c;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #ffffff12;
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}

select,
textarea,
input {
  @apply text-black outline-none border-1 bg-white rounded p-1;
}

.header-text-shadow {
  text-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.p-text-shadow {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.frosted-glass {
  background-color: rgba(0, 0, 0, 0.3); /* translucent dark */
  border-radius: 12px;
  box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  padding: 1rem;
  transition: all 0.1s linear;

  &.hover:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.25);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
