@import "tailwindcss";

:root {
  /* font-family: "Pixelify Sans"; */
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  margin: 0 auto;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  @apply text-5xl sm:text-7xl lg:text-8xl font-pixilify;
}

h2 {
  @apply text-3xl md:text-4xl font-pixilify;
}

select,
textarea,
input {
  @apply text-black outline-none border-1 bg-white rounded p-1;
}

.header-text-shadow {
  text-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}

.p-text-shadow {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@utility shadow-6-6-0-0 {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
}

@utility shadow-2-2-0-1 {
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}

@utility translate-0.75 {
  transform: translate(3px, 3px);
}

.content-area {
  height: calc(100vh - 32px);
  min-width: 320px;
  width: 100%;
  overflow: auto;
}

@utility font-pixilify {
  font-family: "Pixelify Sans";
}

@utility landing-view-container {
  height: calc(100vh - 160px);
}
